<div class="relative my-5">
  <input type="text"
         id="{{ id }}"
         class="block px-5 pb-2.5 pt-4 text-sm text-gray-900 bg-transparent rounded-full border-[1.5px] border-gray-300 appearance-none focus:outline-none focus:ring-0 focus:border-gray-200 peer"
         placeholder=" "
         (input)="handleInput($event)"
  />
  <label
    for="{{ id }}"
    class=" {{customCss}} flex items-center absolute text-sm text-gray-700 duration-300 transform -translate-y-4 scale-75 top-2 z-10 origin-[0] bg-white px-2 peer-focus:px-2 peer-focus:text-gray-600  peer-placeholder-shown:scale-100 peer-placeholder-shown:-translate-y-1/2 peer-placeholder-shown:top-1/2 peer-focus:top-2 peer-focus:scale-75 peer-focus:-translate-y-6 rtl:peer-focus:translate-x-1/4 peer-focus:text-lg rtl:peer-focus:left-auto start-6">
    <i class='bx {{ logo }} bx-sm'></i>{{ customPlaceholder }}
  </label>
</div>



